<div class="links">
  <table align="center">
    <tr>
      <th>Name: </th>
      <th>Location: </th>
      <th>Website: </th>
    </tr>
    <tr>
      <% @merchants.each do |merchant| %>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
      <td><%= merchant.location %></td>
      <td><a href="<%= merchant.website_url %>"><%= merchant.website_url %></a></td>
    </tr>
    <% end %>
  </table>

  <br>
  &nbsp &nbsp<a href="/merchants/new">Add new merchant</a>
  <br>

  <form method="get">
    Search by merchant name:
    <input name="search" value="" type="text" />
    <input type="submit" value="search" />
  </form>
  <br>
</div>