<div>
  <% @merchants.each do |merchant| %><br>
  Name: <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
  &nbsp; Location: <%= merchant.location %>
  &nbsp; Website: <a href="<%= merchant.website_url %>"><%= merchant.website_url %></a><br><hr>
  <% end %>
  <br>
  <a href="/merchants/new">Add new merchant</a><br>
  <br>

  <form method="get">
    Search by merchant name
    <input name="search" value="" type="text" />
    <input type="submit" value="search" />
  </form>

</div>