<div class="show_pages">

  <h2>Type: <%= @category.type %></h2>

  <h3>List of merchants: </h3>

  <% @category.merchants.each do |merchant| %>
  <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
  <br>
  <br>
  <% end %>

  Total: <%= sprintf("£%.2f", @cashboard.totaller) %><br><hr>
  <br>
  <a href="/categories/<%= @category.id %>/edit">Edit</a>

  <br>
  <br>

  <form action="/categories/<%= @category.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    
    <input type='submit' value="Delete category">
  </form>

</div>
