<div class="links">
  <% @transactions.each do |transaction| %><br>
  Transaction: <a href="/transactions/<%= transaction.id %>"><%= transaction.id %></a>
  Merchant: <%= transaction.merchant.name %>
  &nbsp; Category: <%= transaction.category.type %>
  &nbsp; Value: <%= sprintf("£%.2f", transaction.value) %><br><hr>
  <% end %>
  <br>
  <a href="/transactions/new">Add new transaction</a><br>
  <br>

  Total: <%= (sprintf"£%.2f", @cashboard_all.totaller) %><br>

  <form method="get">
    Search transactions:
    <input name="search" value="" type="text" />
    <select name="addon">
    <option value="merchants">Merchants</option>
    <option value="categories">Categories</option>
    </select>
    <input type="submit" value="search" />
  </form>
  <br>
</div>