<div class="links">
  <table>
    <tr>
      <th>Transaction: </th>
      <th>Merchant: </th>
      <th>Category: </th>
      <th>Value: </th>
    </tr>
    <tr>
      <% @transactions.each do |transaction| %><br>
      <td><a href="/transactions/<%= transaction.id %>"><%= transaction.id %></a></td>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.category.type %></td>
      <td><%= sprintf("£%.2f", transaction.value) %></td>
    </tr>
    <% end %>
  </table>

  <br>
  <a href="/transactions/new">Add new transaction</a>
  <br>
  <br>

  Total: <%= (sprintf"£%.2f", @cashboard_all.totaller) %>
  <br>

  <form method="get">
    Search transactions:
    <input name="search" value="" type="text" />
    <select name="addon">
    <option value="merchants">Merchants</option>
    <option value="categories">Categories</option>
    </select>
    <input type="submit" value="search" />
  </form>
  <br>
</div>