<h2>New transaction: </h2>

<form action="/transactions" method="post">

<label for="category_id">Category: </label>
<select name="category_id" id="category_id">
  <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.type %></option>
  <% end %>
</select>

<label for="category_id">&nbsp; Description: </label>
<select name="category_id" id="category_id">
  <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.description %></option>
  <% end %>
</select>

<label for="merchant_id">&nbsp; Merchant: </label>
<select name="merchant_id" id="merchant_id">
  <% @merchants.each do |merchant| %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
  <% end %>
</select>

<label for="transaction_id">&nbsp; Value: </label>
<input type="number" step="0.01" min="0" value="0.00" name="transaction_id"><br>
<br>
<br>

<input type="submit" value="Create new transaction">
<br><hr>

</form>