<div class="show_pages">

  <h2>Transaction: <%= @transactions.id %></h2>

  <h3>Merchant: <%= @transactions.merchant.name %></h3>

  <h3>Category: <%= @transactions.category.type %></h3>

  <h3>Value: <%= @transactions.value %></h3>

  <a href="/transactions/<%= @transactions.id %>/edit">Edit</a>

  <br>
  <br>

  <form action="/transactions/<%= @transactions.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    
    <input type='submit' value="Delete transaction">
  </form>

</div>